# {{ p.name }}  

note: This is part of OOMP the Oopen Organization Method For Parts. For more details: https://github.com/oomlout/oomp_base

##  part details
{% if "image.jpg" in p.files %}[![](image_600.jpg)](drawing.jpg){% for i in range(1, 11) %}{% if "image_" ~ i ~ ".jpg" in p.files %}
[![](image_{{ i }}_300.jpg)](image_{{ i }}.jpg){% endif %}{% endfor %}{% endif %}{% if "image.png" in p.files %}
[![](image_600.png)](image.png){% for i in range(1, 11) %}{% if "image_" ~ i ~ ".png" in p.files %}
[![](image_{{ i }}_300.png)](image_{{ i }}.png){% endif %}{% endfor %}{% endif %}{% if "dimension.jpg" in p.files %}[![](dimension_600.jpg)](drawing.jpg){% for i in range(1, 11) %}{% if "dimension_" ~ i ~ ".jpg" in p.files %}
[![](dimension_{{ i }}_300.jpg)](dimension_{{ i }}.jpg){% endif %}{% endfor %}{% endif %}{% if "dimension.png" in p.files %}
[![](dimension_600.png)](dimension.png){% for i in range(1, 11) %}{% if "dimension_" ~ i ~ ".png" in p.files %}
[![](dimension_{{ i }}_300.png)](dimension_{{ i }}.png){% endif %}{% endfor %}{% endif %}{% if "drawing.jpg" in p.files %}[![](drawing_600.jpg)](drawing.jpg){% for i in range(1, 11) %}{% if "drawing_" ~ i ~ ".jpg" in p.files %}
[![](drawing_{{ i }}_300.jpg)](drawing_{{ i }}.jpg){% endif %}{% endfor %}{% endif %}{% if "drawing.png" in p.files %}
[![](drawing_600.png)](drawing.png){% for i in range(1, 11) %}{% if "drawing_" ~ i ~ ".png" in p.files %}
[![](drawing_{{ i }}_300.png)](drawing_{{ i }}.png){% endif %}{% endfor %}{% endif %}


{{ p.description }}

### id
* oomp_id: {{ p.id }}
  * classification: {{ p.classification }}
  * type: {{ p.type }}
  * size: {{ p.size }}
  * color: {{ p.color }}
  * description_main: {{ p.description_main }}
  * description_extra: {{ p.description_extra }}
  * manufacturer: {{ p.manufacturer }}
  * part_number: {{ p.part_number }}
  * bip 39 word 2: {{ p.bip_39_word_space_2 }}
  * bip 39 word 3: {{ p.bip_39_word_space_3 }}
  * bip 39 word: {{ p.bip_39_word_space_12 }}

### other_codes
* short_code: {{ p.oomlout_short_code }}
* oomp_word: {{ p.oomp_word }}
* oomp_word_emoji {{ p.oomp_word_emoji }}
* md5_6_alpha: {{ p.md5_6_alpha }}
* md5_6: {{ p.md5_6 }}

### all codes 
{{ p.table_markdown }}