# {{ p.name }}  

note: This is part of OOMP the Oopen Organization Method For Parts. For more details: https://github.com/oomlout/oomp_base

##  part details
{% if "image.jpg" in p.files %}[![](image_600.jpg)](image.jpg)
{% for i in range(1, 11) %}{% if "image_" ~ i ~ ".jpg" in p.files %}[![](image_{{ i }}_300.jpg)](image_{{ i }}.jpg){% endif %}
{% endfor %}
{% endif %}
{% if "image.png" in p.files %}[![](image_600.png)](image.png)
{% for i in range(1, 11) %}{% if "image_" ~ i ~ ".png" in p.files %}[![](image_{{ i }}_300.png)](image_{{ i }}.png){% endif %}
{% endfor %}
{% endif %}

{{ p.description }}

### id
* oomp_id: {{ p.id }}
  * classification: {{ p.classification }}
  * type: {{ p.type }}
  * size: {{ p.size }}
  * color: {{ p.color }}
  * description_main: {{ p.description_main }}
  * description_extra: {{ p.description_extra }}
  * manufacturer: {{ p.manufacturer }}
  * part_number: {{ p.part_number }}

### other_codes
* short_code: {{ p.short_code }}
* oomp_word: {{ p.oomp_word }}
* oomp_word_emoji: {{ p.oomp_word_emoji }}
* md5_6_alpha: {{ p.md5_6_alpha }}
* md5_6: {{ p.md5_6 }}* 