# {{ p.name }}  

note: This is part of OOMP the Oopen Organization Method For Parts. For more details: https://github.com/oomlout/oomp_base

##  part details
{% if "image.jpg" in p.files %}[![](image_600.jpg)](drawing.jpg){% for i in range(1, 11) %}{% if "image_" ~ i ~ ".jpg" in p.files %}
[![](image_{{ i }}_300.jpg)](image_{{ i }}.jpg){% endif %}{% endfor %}{% endif %}{% if "image.png" in p.files %}
[![](image_600.png)](image.png){% for i in range(1, 11) %}{% if "image_" ~ i ~ ".png" in p.files %}
[![](image_{{ i }}_300.png)](image_{{ i }}.png){% endif %}{% endfor %}{% endif %}{% if "dimension.jpg" in p.files %}[![](dimension_600.jpg)](drawing.jpg){% for i in range(1, 11) %}{% if "dimension_" ~ i ~ ".jpg" in p.files %}
[![](dimension_{{ i }}_300.jpg)](dimension_{{ i }}.jpg){% endif %}{% endfor %}{% endif %}{% if "dimension.png" in p.files %}
[![](dimension_600.png)](dimension.png){% for i in range(1, 11) %}{% if "dimension_" ~ i ~ ".png" in p.files %}
[![](dimension_{{ i }}_300.png)](dimension_{{ i }}.png){% endif %}{% endfor %}{% endif %}{% if "drawing.jpg" in p.files %}[![](drawing_600.jpg)](drawing.jpg){% for i in range(1, 11) %}{% if "drawing_" ~ i ~ ".jpg" in p.files %}
[![](drawing_{{ i }}_300.jpg)](drawing_{{ i }}.jpg){% endif %}{% endfor %}{% endif %}{% if "drawing.png" in p.files %}
[![](drawing_600.png)](drawing.png){% for i in range(1, 11) %}{% if "drawing_" ~ i ~ ".png" in p.files %}
[![](drawing_{{ i }}_300.png)](drawing_{{ i }}.png){% endif %}{% endfor %}{% endif %}


{{ p.description }}

### name
* name: {{ p.name }}
* name_short: {{ p.name_short }}
### id
* oomp_id: {{ p.id }}
  * classification: {{ p.classification }}
  * type: {{ p.type }}
  * size: {{ p.size }}
  * color: {{ p.color }}
  * description_main: {{ p.description_main }}
  * description_extra: {{ p.description_extra }}
  * manufacturer: {{ p.manufacturer }}
  * part_number: {{ p.part_number }}
  * bip 39 word 2: {{ p.bip_39_word_space_2 }}
  * bip 39 word 3: {{ p.bip_39_word_space_3 }}
  * bip 39 word: {{ p.bip_39_word_space_12 }}

### other_codes
* short_code: {{ p.oomlout_short_code }}
* oomp_word: {{ p.oomp_word }}
* oomp_word_emoji {{ p.oomp_word_emoji }}
* md5_6_alpha: {{ p.md5_6_alpha }}
* md5_6: {{ p.md5_6 }}



{## if oomlout_oomp_utility_custom_data_manipulation then#}
{% if p.oomlout_oomp_utility_custom_data_manipulation %}

### oomlout_oomp_utility_custom_data_manipulation
#### label print
[3x2]({{ p.link_oomlout_label_3x2 }})
[3x2_oomp_table]({{ p.link_oomlout_label_3x2_oomp_table }})
[2x1]({{ p.link_oomlout_label_2x1 }})
[6x4]({{ p.link_oomlout_label_6x4 }})    

#### link

{% for i in range(1, 26) %}{% if p['link_' ~ i] is defined %}[{{ p['link_' ~ i ~ '_name'] }}]({{ p['link_' ~ i] }}){% endif %} {% endfor %}     

#### price
{% if p.price_1 is defined %}
#### price table
| dist | 1 | 100 | 200 | 1000 | 10000 |
|------|---|-----|-----|------|-------|
| {{ p.distributor_current }} | {{ p.price_1 }} | {{ p.price_100 }} | {{ p.price_200 }} | {{ p.price_1000 }} | {{ p.price_10000 }} |
{% for dist in range(1, 11) %}{% if p['price_' ~ dist ~ '_name'] is defined %}| {{ p['price_' ~ dist ~ '_name'] }} | {{ p['price_1_distributor_' ~ dist] }} | {{ p['price_100_distributor_' ~ dist] }} | {{ p['price_200_distributor_' ~ dist] }} | {{ p['price_1000_distributor_' ~ dist] }} | {{ p['price_10000_distributor_' ~ dist] }} | {% endif %}
{% endfor %}
{% endif %}

{% endif %}




### all codes 
{{ p.table_markdown }}